# ignore images and labels
images/*.png
test/*/*.png
labels/*.png

# data .txt files
data/*.txt

# geometry .step files
geometry/*.step

# Jupyter notebook checkpoints
src/.ipynb_checkpoints

# CNN export files
models/*.pkl
models/*.pth
models/*.onnx

# ansys files
ansys/DeepWaves_files
ansys/.DeepWaves_files.backup

# general output files
output/figs/*.fig
output/gifs/*.gif
output/*/*.tif
output/*/*.tiff
output/*/*.png
output/logs/*.log
output/mat/*.mat

