# ignore images and labels
images/*.png
test/*/*.png
labels/*.png

# data .txt files
data/*.txt

# geometry .step files
geometry/*.step

# Jupyter notebook checkpoints
src/.ipynb_checkpoints

# CNN export files
*.pkl
*.pth
*.onnx

# ansys files
ansys/DeepWaves_files
ansys/.DeepWaves_files.backup

# general output files
output/figs/*.fig
output/gis/*.gif
output/ground_truth/*.tif
output/predictions/*.tif
output/logs/*.log
output/mat/*.mat

