# ignore images and labels
images/*.png
test/*.png
labels/*.png

# data .txt files
data/*.txt

# geometry .step files
geometry/*.step

# Matlab .mat files
mat/*.mat

# Jupyter notebook checkpoints
src/.ipynb_checkpoints

# export file
*.pkl
*.pth

# ansys files
ansys/DeepWaves_files
ansys/.DeepWaves_files.backup

# log files
logs/*.log
